*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
    width: 100%;
    font-family: 'Lato','微軟正黑體', Helvetica, sans-serif;
    position: relative;
}
/******
Utilities
******/
a{
  color:black;
}
/**margin top **/
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top: 30px;
}

.mt-60{
  margin-top: 60px;
}

.mt-90{
  margin-top: 90px;
}
/**margin bottom **/
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-25{
  margin-bottom: 25px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-60{
  margin-bottom: 60px;
}

.mb-90{
  margin-bottom: 90px;
}

/**margin right **/
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}

.mr-20{
  margin-right: 20px;
}

.mr-25{
  margin-right: 25px;
}

.mr-30{
  margin-right: 30px;
}

.mr-60{
  margin-right: 60px;
}

.mr-90{
  margin-right: 90px;
}

/**margin left **/

.ml-10{
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}

.ml-20{
  margin-left: 20px;
}

.ml-25{
  margin-left: 25px;
}

.ml-30{
  margin-left: 30px;
}

.ml-60{
  margin-left: 60px;
}

.ml-90{
  margin-left: 90px;
}
/**  padding top**/
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}

.pt-20{
  padding-top: 20px;
}

.pt-25{
  padding-top: 25px;
}

.pt-30{
  padding-top: 30px;
}

.pt-60{
 padding-top: 60px;
}

.pt-90{
  padding-top: 90px;
}

/**  padding bottom**/
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom: 15px;
}

.pb-20{
  padding-bottom: 20px;
}

.pb-25{
  padding-bottom: 25px;
}

.pb-30{
  padding-bottom: 60px;
}

.pb-90{
  padding-bottom: 90px;
}

/**  padding left**/
.pl-10{
  padding-left: 10px;
}
.pl-15{
  padding-left: 15px;
}

.pl-20{
  padding-left: 20px;
}

.pl-25{
  padding-left: 25px;
}

.pl-30{
  padding-left: 60px;
}

.pl-90{
  padding-left: 90px;
}
/**  padding right**/
.pr-10{
  padding-right: 10px;
}
.pr-15{
  padding-right: 15px;
}

.pr-20{
  padding-right: 20px;
}

.pr-25{
  padding-right: 25px;
}

.pr-30{
  padding-right: 60px;
}

.pr-90{
  padding-right: 90px;
}
/******
Nav
******/
nav{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  border-bottom: 1px solid #BDBDBD;
}

.item{
  height: 50px;
}
  /*******item1 ********/
.item1{
    flex-grow:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item1 div{
    /* height: 30px; */
    flex-basis: 30px;
    margin-left: 15px;
}

.burger{
    font-size: 24px;
    padding: 0 10px;
}
.logo{
  display: flex;
  position: relative;
}

.logo i {
  margin-top: 3px;
  font-size: 24px;
  color: red;
  margin-right: 4px;
}
.logo span{
  color: grey;
  font-size: 10px;
  position: absolute;
}
/***** item2 *****/
.item2{
    flex-grow:4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2 i{
  font-size: 20px;
  width: 30px;
  height: 20px;
}
.search-bar{
  width: 550px;
  height: 30px;
  border: 1px solid #dedede;
  padding: 5px 10px;
}
.btn-search{
  background-color: #e7e7e7;
  border: none;
  height: 30px;
  padding: 0 10px;
}
.microphone{
  background-color: #fff;
  border: none;
  height: 30px;
}
/*****  item3 *****/
.item3{
    flex-grow:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item3 div{
    margin-right: 20px;
}
.item3 i{
  font-size: 22px;
}
.profile p{
  font-size: 16px;
  background-color: #2979FF;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}
/*****
side-nav
******/
#side-nav{
  width: 250px;
  height: 700px;
  top: 0;
  left: -30%;
  position:absolute;
  background-color:#fff;
  transition: left .3s;
  overflow: auto;
}
#side-nav.openList{
  left: 0;
}
#side-nav ul{
  display: flex;
  flex-direction: column;
}

#side-nav ul > li{
  border-bottom: 1px solid #dfe6e9;
  width: 100%;
  display: inline-block;
  padding: 10px 10px;
  margin-right: 15px;
  cursor: pointer;
}
#side-nav ul > li:hover{
  background-color: #dfe6e9;
}

/*****
container
******/
.container{
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
}

/*****  leftcontent *****/
.leftcontent{
  flex-basis: 66%;
}
.video-box{
  font-weight: 400;
  font-size: 20px;
}
.description{
  margin-top: 15px;
  border-bottom: 1px solid #ced6e0;
}
.view-and-like{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.view-and-like p{
  font-size: 14px;
}

.view-and-like ul li{
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
}
.view-and-like ul li i{
  margin-right: 5px;
}

.youtuber{
  display: flex;
  border-bottom:  1px solid #ced6e0;
}
.youtuber > button{
  flex-basis: 20%;
  max-width: 70px;
  max-height: 40px;
  border: 1px solid #c23616;
  background-color: #c23616;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
}

.youtuber > button.active {
  flex-basis: 20%;
  max-width: 70px;
  max-height: 40px;
  border: 1px solid #718093;
  background-color: #718093;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
}
.authorImg{
  max-width: 50px;
  max-height: 50px;
  background-color: #70a1ff;
  border-radius: 50%;
  flex-basis: 20%;
}
.youtuber-info{
  flex-basis: 20%;
}
.review-sort{
  display:flex;
  padding: 6px 0px;
}
.review-sort > i{
    font-size: 18px;
}
.review-card{
  display: flex;
}
.reviewer{
  flex-basis:10%;
  max-width: 50px;
  max-height: 50px;
  background-color: #00b894;
  border-radius: 50%;
}
.review-content{
  flex-basis: 50%;
}
.like-or-not{
  display: flex;
}

.like-or-not > li{
  margin-right: 15px;
}
.like-or-not i{
  background-color: #fff;
}
/*****  rightcontent *****/
.rightcontent{
  flex-basis: 34%;
}
/*****  side-list *****/
#side-list{
  padding: 10px 6px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

#side-list > li{
  border: 1px solid grey;
  border-radius:15px;
  padding: 5px 10px;
  cursor: pointer;
}

#side-list > li.listBtn.open{
  background-color: gray;
  color: white;
}

/*****  video-card *****/
.video-card{
  display: flex;
}

/*****  small-description *****/
.small-description > a > p {
  font-size: 14px ;
}
.small-description > a > p > span{
  display: block;
  font-size: 10px ;
  color: gray;
}